<!DOCTYPE html>
<html>
<head>
	<title>eligibility</title>
</head>
<body>
	<img src="https://cdn2.vectorstock.com/i/1000x1000/15/21/happy-boys-and-girls-on-graduation-party-vector-21611521.jpg" style="float: left;" height="55%" width="55%">
	<div style="padding-top: 5%">
	<h1><font color="red"><center><b>PREDICTING CHANCE OF ADMISSION</center></font></h1>
	<div style="padding-top: 3%">
	<p><center><font color="blue":<b><h1>Prediction :</font> <div style="padding-top: 0%"></br><b>You've a <b><font color="green">{{p}}</font></b> chance to get the admission !</h1></b></center></p>
		
    </div>
</body>
</html>