<!DOCTYPE html>
<html>
<head>
	<title>eligibility</title>
</head>
<body>
	<img src="https://i.scdn.co/image/ab67616d0000b27387b7527cbaffaef83ab0ea5a" style="float: left; " height="50%" width="50%">
	
	<div style="padding-top: 1%">
	<h2><b><font color="red"><center>PREDICTING CHANCE OF ADMISSION</center></font></h2>
	
	<p align="center"><h1><center><font color="blue">Prediction :</font> <b></br>You don't have a chance!</b></center></h1></p>
<center><img src="https://media1.giphy.com/media/h4OGa0npayrJX2NRPT/giphy.gif?cid=6c09b9525uxi8mfyuxfy1kxjec6anfuurhe9nxru3esl05wi&rid=giphy.gif&ct=g" style="float: rightbottom; " height="25%" width="35%"></center>
	</div>

</body>
</html>